.login-container {
  display: grid;
  grid-template-columns: 1fr;
}

.login-wrapper {
  grid-column: 1;
  height: 100vh;
  grid-template-rows: auto 50vh;
  background-color: #EE2D3E;
}

.logo-box {
  grid-row-start: 1;
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  background-color: #fff;

}

.logo {
  height: 300px;
  background: url('../../imgs/node_bike-logo.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  grid-row-start: 2;
  margin-top: 50px;
  display: grid;
  justify-content: center;
}

/*
 * Form
 */

 .login-form {
  align-items: center;
 }
.login-form input {
  color: #fff;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
}
.form-item {
  display: grid;
  justify-content: center;
}

.form-sending {
  padding-top: 10px;
}

.field-validation , .form-sending.error, .form-sending.success {
  margin-top: 20px;
  color: #FFF2AF;
}

.form-sending.success {
  color: #fff;
}


/*
 * Responsive
 * tablet and mobile landscape
 */
 @media (min-width: 640px) {
   .login-container {
    grid-template-columns: 1fr minmax(375px, 1111px) 1fr;
   }
  .login-wrapper {
    display: grid;
    background-color: #f1f1f1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column: 2;

  }
  .logo-box {
    grid-column: 1;
    border-radius: 40px 0 0 40px;
    height: 500px;
    padding: 40px;
    margin-top: 40px;
    display: grid;
  }
  .logo {
    height: 80%;
    background: url('../../imgs/node_bike-logo-big.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
  }
  .login-box {
    grid-row-start: 1;
    grid-column: 2;
    height: 500px;
    background-color: #EE2D3E;
    border-radius: 0 40px 40px 0px;
    padding: 40px;
    margin-top: 40px;
    align-content: center;
    display: grid;
    justify-content: center;
  }

  .login-form {
    align-items: center;
  }
  
}

/*
 * desktop 
 */
@media (min-width: 768px) {

}

/*
 * desktop 
 */
@media (min-width: 1024px) {
}

/*
 * desktop WIDE
 */
@media (min-width: 1250px) {
}

